<h1>secret page</h1>
<p>yo soy <strong>Pablo Emilio Escobar</strong></p>
<img src="https://i.ibb.co/86TM2Nc/1-narcos-3-w710-h473.jpg" alt="1-narcos-3-w710-h473" border="0"></a>

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Log out!</a></li>